@tailwind base;
@tailwind components;
@tailwind utilities;
@layer {
    body{
        @apply bg-gray-100 dark:bg-grayDarker
    }
}

@layer components {
    .svg-animate {
        stroke-dashoffset: 100;
        stroke-dasharray: 100;
        animation: dash 7s linear infinite;
    }
    @keyframes dash {
        to {
            stroke-dashoffset: 0;
        }
    }
}

@layer base {
  :root {
        --radius: 0.5rem;
    }
}
